<ion-header>
  <ion-toolbar>
    <ion-title>Ask a Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="ask-container">
      <h2 class="form-title">Ask the community</h2>
      
      <ion-list>
        <ion-item>
          <ion-input 
            label="Title" 
            labelPlacement="floating" 
            placeholder="What's your question? Be specific."
            [(ngModel)]="question.title"
            [disabled]="isSubmitting">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea 
            label="Body" 
            labelPlacement="floating" 
            placeholder="Include all the information someone would need to answer your question"
            [(ngModel)]="question.body"
            [autoGrow]="true"
            rows="6"
            [disabled]="isSubmitting">
          </ion-textarea>
        </ion-item>
      </ion-list>

      <div class="button-container">
        <button class="post-button" 
                (click)="submitQuestion()" 
                [disabled]="isSubmitting">
          <span *ngIf="isSubmitting" class="spinner"></span>
          {{ isSubmitting ? 'Posting...' : 'Post Your Question' }}
        </button>
      </div>
    </div>
  </div>
</ion-content>
