<ion-header>
  <ion-toolbar>
    <ion-title>Ask a Question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ask-container">
    <ion-list>
      <ion-item>
        <ion-input 
          label="Title" 
          labelPlacement="floating" 
          placeholder="What's your question? Be specific."
          [(ngModel)]="question.title">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea 
          label="Body" 
          labelPlacement="floating" 
          placeholder="Include all the information someone would need to answer your question"
          [(ngModel)]="question.body"
          [autoGrow]="true"
          rows="6">
        </ion-textarea>
      </ion-item>

    </ion-list>

    <ion-button expand="block" (click)="submitQuestion()" class="submit-button">
      Post Your Question
    </ion-button>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ask" routerLink="/ask">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Ask</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
