<ion-content [fullscreen]="true">
  <div class="home-container">
    
  </div>
</ion-content>

<ion-header>
  <ion-searchbar placeholder="Search"></ion-searchbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge color="danger"></ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="2">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Ask</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="3">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>