<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <div class="profile-picture-container">
      <div class="profile-picture" (click)="changeProfilePicture()" tappable>
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile Picture">
        <ion-icon *ngIf="!profileImage" name="person-circle-outline"></ion-icon>
        <div class="picture-overlay">
          <ion-icon name="camera"></ion-icon>
        </div>
      </div>
      <p class="tap-instruction">Tap to change profile picture</p>
    </div>
    
    <div class="button-container">
      <button class="logout-button" 
              (click)="onLogout()" 
              [disabled]="isLoading">
        {{ isLoading ? 'Logging out...' : 'Logout' }}
      </button>
    </div>
  </div>
</ion-content>
