ion-content {
  --background: #ffffff;
}

.profile-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-picture {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 3px solid #000;
  cursor: pointer;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  ion-icon {
    font-size: 120px;
    color: #ccc;
  }
}

.picture-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  justify-content: center;
  
  ion-icon {
    color: white;
    font-size: 24px;
  }
}

.tap-instruction {
  margin-top: 10px;
  color: #777;
  font-size: 14px;
}

.button-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.logout-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
      background-color: #333;
  }

  &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
  }
}

