.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  padding: 20px 15px; 
  box-sizing: border-box; 
  background: linear-gradient(to bottom, #E6F3FF, #F0E6FF);
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #333;
  margin-bottom: 1rem;
}
.app-logo {
  width: 220px;
  height: 220px;
  margin-bottom: 2rem;
  border-radius: 30%;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center; 
}

.action-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #333;
}

.spaced-row {
  margin-bottom: 80px; 
}

.spaced-buttons {
  gap: 8rem; 
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem; 
  }

  .app-logo {
    width: 150px; 
    height: 150px;
  }

  .action-button {
    padding: 0.75rem 2rem; 
    font-size: 1.5rem; 
  }

  .spaced-row {
    margin-bottom: 40px; 
  }

  .spaced-buttons {
    gap: 4rem; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem; 
    margin-bottom: 0.75rem;
  }

  .app-logo {
    width: 120px; 
    height: 120px;
    margin-bottom: 1.5rem;
  }

  .action-button {
    padding: 0.5rem 1.5rem; 
    font-size: 1.4rem; 
    max-width: 200px;
    margin-bottom: 0.8rem; 
    border-radius: 30px; 
  }

  .spaced-row {
    margin-bottom: 20px; 
  }

  .spaced-buttons {
    gap: 1rem; 
    
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 1.8rem;
  }
  
  .app-logo {
    width: 80px;
    height: 80px;
  }
  
  .spaced-row {
    margin-bottom: 15px;
  }

  .action-button {
    padding: 0.7rem 1.8rem;
    font-size: 1.3rem; 
    max-width: 220px; 
  }
}