<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="row spaced-row">
      <div class="col">
        <h1>Welcome to UniStack!</h1>
      </div>
    </div>
    <div class="row spaced-row">
      <div class="col">
        <img src="assets/AppImages/windows11/Square44x44Logo.scale-400.png" alt="App Logo" class="app-logo" />
      </div>
    </div>
    <div class="row spaced-row">
      <div class="col">
        <div class="button-container spaced-buttons">
          <button class="action-button" (click)="navigateToLogin()">Login</button>
          <button class="action-button" (click)="navigateToRegister()">Register</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
